@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/global.css */
@font-face {
    font-family: 'Madimi One';
    src: url('/fonts/MadimiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .font-madimione {
    font-family: 'Madimi One', sans-serif;
  }
  
  /* In your global CSS file */
.heavy-drop-shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 20px 25px -5px rgba(0, 0, 0, 0.5);
}
/* Custom CSS for heavy drop shadow */
.heavy-drop-shadow {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    position: relative;
    z-index: 1050; /* Ensure this is higher than the slider's z-index */
  }
  
  .menu-height {
    height: 8rem;
  }

/* Reset default margins and paddings */
html, body, #root {
 
}

  /* Ensure the sticky menu overlays content properly */
  .sticky-menu {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important; /* Higher than any other elements */
    width: 100%; /* Ensures it spans the full width */
  }
  
  /* Ensure the header is positioned correctly and below the sticky menu */
   header {
    position: relative !important;
    z-index: 10 !important; /* Lower than the sticky menu */
    width: 100%;
    margin-top: -8rem !important;
  }
  
  /* Optional: Ensure no element is unintentionally pushing your layout */
  * {
    box-sizing: border-box; /* More predictable sizing of elements */
  }
  

  /* Targets all buttons within the pagination dots */
.slick-dots li button {
    background-color: #1d2b40; /* Color for non-active dots */
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    border-radius: 50%; /* Makes dots circular */
  }
  
  /* Targets the button of the active dot */
  .slick-dots li.slick-active button {
    background-color: #d7dfe3ff; /* Color for the active dot */
  }
  
  /* Optional: Adjust the appearance of the dots container */
  .slick-dots {
    list-style: none;
    display: flex !important; /* Ensures dots are aligned horizontally */
    justify-content: center; /* Centers the dots */
    padding: 0; /* Removes default padding */
  }
  
  /* Optional: Remove default styles of buttons to only show the colored circle */
  .slick-dots li button:before {
    content: none;
  }
  
  @media (min-width: 1280px) {
    .MuiIconButton-root.MuiIconButton-edgeStart {
      display: none !important;
    }
  }
/* Base styles for the largest viewports */
.custom-menu .menu-logo {
  height: 7.4rem; /* Original size for large screens */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .custom-menu .menu-logo {
    height: 6rem; /* Slightly smaller logo on tablets */
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .custom-menu {
    height: 5rem !important; /* Adjust menu height for smaller devices */
  }
  .custom-menu .menu-logo {
    height: 4.5rem !important; /* Adjust logo height for smaller devices */
    margin-top: -0.25rem !important; /* Adjust for vertical centering */
    margin-bottom: -0.25rem !important; /* Adjust for vertical centering */
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .custom-menu {
    height: 4rem !important; /* Further adjust menu height for extra small devices */
  }
  .custom-menu .menu-logo {
    height: 3.5rem !important; /* Further adjust logo height for extra small devices */
    margin-top: -0.25rem !important; /* Adjust for vertical centering */
    margin-bottom: -0.25rem !important; /* Adjust for vertical centering */
  }
}
 
.brands-logos img {
  color: green; /* This changes the color of your SVG if paths use `fill="currentColor"` */
}


 
  /* Custom Color Definitions for Tailwind */
.bg-red-500 { background-color: #f56565; }
.bg-orange-500 { background-color: #ed8936; }
.bg-yellow-500 { background-color: #ecc94b; }
.bg-green-500 { background-color: #48bb78; }
.bg-blue-500 { background-color: #4299e1; }
.bg-purple-500 { background-color: #9f7aea; }
.bg-pink-500 { background-color: #ed64a6; }
.bg-black-500 { background-color: #000000; } /* Usually, you'd use bg-black in Tailwind for black */
.bg-white-500 { background-color: #ffffff; } /* Usually, you'd use bg-white in Tailwind for white */
.bg-silver-500 { background-color: #c0c0c0; }
.bg-grey-500 { background-color: #a0aec0; } /* Tailwind's gray, usually spelt as bg-gray-500 */
.bg-bronze-500 { background-color: #cd7f32; }
.bg-gold-500 { background-color: #ffd700; }
.bg-tan-500 { background-color: #d2b48c; }
.bg-brown-500 { background-color: #8b4513; }

/* To ensure compatibility, consider adding more specific class names or IDs if there's a conflict. */
